<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"> 
            <h4 class="card-title">Mi progress</h4>
            <div class="progress m-t-20">
                <div class="progress-bar bg-primary progress-bar-striped active" style=" height:10px;" [style.width]="getProgreso1"   role="progressbar"> 
                    <!-- [style.width]="getProgreso" -->
                    <span class="sr-only">85% Complete (success)</span> </div>
            </div>

            <div class="progress m-t-20">
                <div class="progress-bar bg-info progress-bar-striped active" style=" height:10px;" [style.width]="getProgreso2"  role="progressbar"> 
                     <!-- [style.width]="getProgreso" -->
                    <span class="sr-only">85% Complete (success)</span> </div>
            </div>
          
                                
            </div>
        </div>
    </div> 
</div> 

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
             
                <app-incrementador [progreso]="progreso1" (porcentajeEmit)="progreso1=$event"></app-incrementador>
            
            </div>
        </div>
       
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador [progreso]="progreso2" (porcentajeEmit)="progreso2=$event"></app-incrementador>
            </div>
        </div>
       
    </div>
</div>